# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -----------------------
# Virtual Environment
# -----------------------
venv/
.env/

# -----------------------
# Vector Database / App Data
# -----------------------
db/
temp.pdf

# -----------------------
# Streamlit
# -----------------------
.streamlit/

# -----------------------
# OS / IDE
# -----------------------
.DS_Store
Thumbs.db
.idea/
.vscode/
